# vim: syntax=yaml

pgbackrest:
  pkg: override_pkg 
  user: someuser
  group: somegroup
  config:
    mycluster:
      pg1-host: somehost
      pg1-path: /some/data/path
    global:
      log-level-file: info
      repo1-path: /somelocal/pgbackrest
      repo1-type: posix
      repo1-retention-full-type: count
      repo1-retention-full: 2
      repo1-cipher-type: aes-256-cbc
      repo1-cipher-pass: |
        -----BEGIN PGP MESSAGE-----
        XXX
        -----END PGP MESSAGE-----
      repo2-path: /somenfs/pgbackrest
      repo2-bundle: y
      repo2-type: posix
      repo2-retention-full-type: count
      repo2-retention-full: 6
      repo2-cipher-type: aes-256-cbc
      repo2-cipher-pass: |
        -----BEGIN PGP MESSAGE-----
        XXX
        -----END PGP MESSAGE-----
  cron:
    mycluster_full_backup:
      name: -n /usr/bin/lockf -k /tmp/cron_pgbackrest pgbackrest --repo=1 --type=full --stanza=mycluster backup ; /usr/bin/lockf -k /tmp/cron_pgbackrest pgbackrest --repo=2 --type=full --stanza=mycluster backup
      user: pgbackrest
      special: "'@weekly'"
    mycluster_incr_backup:
      name: -n /usr/bin/lockf -f /tmp/cron_pgbackrest pgbackrest --repo=1 --type=incr --stanza=mycluster backup ; /usr/bin/lockf -f /tmp/cron_pgbackrest pgbackrest --repo=2 --type=incr --stanza=mycluster backup
      user: pgbackrest
      special: "'@900'"

